/**
 * @name FayTheme
 * @author pe_rson
 * @version 3.0.0
 * @description Perfect ^Ï‰^
 * @authorId 823807405158039552
 * @source https://github.com/fayn2009/BetterDS-theme
 * @website https://fayn2009.github.io
*/

@import url('https://raw.githubusercontent.com/fayn2009/BetterDS-theme/main/fay.theme.css');

/* Background image */
:root {
  --background-image: url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/746850/6e151979190ba7480d2f27503fefe64127f4d31d.jpg);
}
