/**
 * @name FayTheme
 * @author pe_rson
 * @version 3.8.924
 * @description Perfect ^Ï‰^
 * @authorId 823807405158039552
 * @source https://github.com/fayn2009/FayTheme
 * @website https://fayn2009.github.io
 * @updateUrl https://raw.githubusercontent.com/fayn2009/FayTheme/refs/heads/main/FayTheme.theme.css
*/


/* Background image */
:root {
  --background-image: url('https://raw.githubusercontent.com/fayn2009/FayTheme/main/bg-image.jpg');
}


/* Set background image */
.bg_d4b6c5 {
  background: var(--background-image);
}

/* Transparent backgrounds */
body, .popout_a35965, #popout_64, .member_a31c43, .membersWrap_cbd271, .scrollerBase_eed6a8, .content_eed6a8, .toggleMute_ba4b17.interactive_ba4b17:hover, .contentRegionScroller_c25c6d, .shopScroll_e77fa3, .content_eed6a8, .fade_c49869, .pageWrapper_e77fa3, .privateChannels_f0963d, .contentRegion_c25c6d, .sidebarRegion_c25c6d, .layer_d4b6c5, .canvas_a41a9d, .layerContainer_cd0de5, .layers_d4b6c5, .layers_a01fb1, .app_bd26cc, .appAsidePanelWrapper_bd26cc, .notAppAsidePanel_bd26cc, .wrapper_fea3ef, .app_a01fb1, .content_eed6a8, .content_a7d72e, .chatContent_a7d72e, .container_c2739c, .container_bf550a, .nowPlayingColumn_c2739c, .panels_a4d4d9, .content_eed6a8, .scroller_c47fa9, .appMount_ea7e65, .layer_d4b6c5.baseLayer_d4b6c5, .bar_a4d4d9, .content_a4d4d9 {
  background: none;
}
.interactionsContainer_a35965, .popoutContentWrapper_a35965 {
   --background-floating: #0007;
}
.withBackgroundOverride_a934d8, .scroller_fea3ef {
  --bg-overlay-app-frame: none;
}
.scroller_c47fa9, .container_ee69e0 {
  --background-secondary: none;
  --bg-overlay-3: none;
}
.theme-dark, .themed_fc4f0 {
  --background-primary: none;
}
.theme-dark .message_d5deea.selected_d5deea, .theme-dark.mouse-mode.full-motion .message_d5deea:hover {
  --bg-overlay-2: none;
  --bg-overlay-1: #0002;
}

/* Highlight some frames */
.container_b2ca13, .standardSidebarView_c25c6d, .shop_e77fa3, .container_c2739c, .sidebar_a4d4d9, .chat_a7d72e {
  background: #0007;
}

.container_cbd271 {
  background: #0004;
}

/* Borders */
.input_f4e139 {
  border-radius: 100vh;
}
.horizontal_dc333f {
  transform: translateX(-5px);
}
.panel_bf1a22 {
  border-radius: 20px;
  transform: translateY(-22px) translateX(1%);
  width: 91%;
}
.container_b2ca13 {
  border-radius: 20px;
  transform: translateY(-10px) translateX(1%);
  width: 91%;
}
.container_adcaac {
  border-radius: 20px;
  transform: translateY(-16px) translateX(1%);
  width: 91%;
}
.button_dd4f85 {
  border-radius: 28px;
}
.avatarWrapper_b2ca13:hover {
  border-radius: 12px;
}
button.button_adca65 {
  border-radius: 100%;
}

/* Make animations */
.name_e3c1c6 {
  transition: transform 0.2s;
}
.result_e3c1c6 {
  transition: background 0.2s;
  border-radius: 100vh;
}
.result_e3c1c6:hover .name_e3c1c6 {
  transform: scale(1.2) translateX(40px);
}
.peopleListItem_d51464 {
  transition: all 0.06s;
  border: none;
}
.itemCard_f02fcf {
  border-width: 0;
  border-style: dashed;
  transition: all 0.2s;
}
.itemCard_f02fcf:hover {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #39c06d;
}
.interactive_f5eb4b.interactive_c91bad, .memberInner_a31c43, .iconVisibility_f6f816.wrapper_d8bfb3.typeDefault_d8bfb3 {
  border-style: solid;
  border-color: #fff;
  border-width: 0;
  transition: all 0.08s;
}
.interactive_f5eb4b.interactive_c91bad:hover, .memberInner_a31c43:hover {
  border-width: 0 2px 0 2px;
}
.iconVisibility_f6f816.wrapper_d8bfb3.typeDefault_d8bfb3 {
  width: calc(96% + 1px);
}
.iconVisibility_f6f816.wrapper_d8bfb3.typeDefault_d8bfb3:hover {
  border-radius: 5px;
  border-width: 0 0 2px 0;
  width: calc(96% - 19px);
  transform: translateX(10px);
}
.linkTop_d8bfb3 {
  width: 100%;
}

    /***********************/
   /*                     */
  /*  Custom animations  */
 /*                     */
/***********************/

.membersWrap_cbd271 {
  animation: openmembers 0.2s ease-in-out;
}

.layerContainer_cd0de5 > div > div > div > div > div {
  overflow: hidden;
  animation: opencdde 0.2s ease-in-out;
}

.submenuPaddingContainer_d90b3d {
  animation: opensubmenu 0.18s ease-in-out;
  
}

@keyframes openmembers {
  0% {min-width: 0; max-width: 0;}
  100% {min-width: 240px; max-width: 240px;}
}

@keyframes opensubmenu {
  0% {opacity: 0;}
  100% {opacity: 100%;}
}

@keyframes opencdde {
  0% {max-height: 0;}
  100% {max-height: 240px;}
}
